{% extends 'base.html' %}

{% block title %}
Статьи на сайте
{% endblock %}

{% block body %}
<div class="container">
<h1>Все статьи на сайте</h1>
{% if articles %}
    {% for el in articles %}
    <div class="alert alert-info">
        <h3>{{ el.title }}</h3>
        <h2>{{ el.intro }}</h2>
        <h5>Дата публикации: {{ el.date.date() }}</h5>
        <a href="/posts/{{ el.id }}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
{% else %}
    <h2>Ніхто нічо не написав</h2>
{% endif %}    
</div>
{% endblock %}
